<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <meta
      content="Best Virtual Sampler Tool for Music Creators"
      name="description"
    />
    <meta content="Boomtap" name="author" />

    <title>
      Boomtap &#8211; Digital sampler for sharing drumkits and sound effects
    </title>
  </head>
  <body>
    <main id="page-wrapper">
      <section id="s-hero-home" class="section-hero">
        <div class="s-background">
          <img
            srcset="
              img/bg-hero@mobile.png  375w,
              img/bg-hero@1x.png     1440w,
              img/bg-hero@2x.png     2880w
            "
            sizes="(max-width: 767px) 375px, 1440px 2880px"
            width="1440"
            height="1092"
            src="img/bg-hero@2x.png"
            alt="Boomtap"
          />
        </div>
        <div class="container">
          <div class="s-slide">
            <div class="s-content">
              <h1>
                3 sound kits every month <br /><span>in your mailbox</span>
              </h1>
              <p>
                We scout the web for drumkits and SFX and share our findings in
                a monthly email.
              </p>
              <form
                method="post"
                class="form-subscribe"
                accept-charset="UTF-8"
                action="https://www.aweber.com/scripts/addlead.pl"
                target="_blank"
                id="af-form-<%= htmlWebpackPlugin.options.aweber_formId %>"
              >
                <!-- AWeber Web Stuff -->
                <div style="display: none">
                  <input
                    type="hidden"
                    name="meta_web_form_id"
                    value="<%= htmlWebpackPlugin.options.aweber_formId %>"
                  />
                  <input type="hidden" name="meta_split_id" value="" />
                  <input
                    type="hidden"
                    name="listname"
                    value="awlist<%= htmlWebpackPlugin.options.aweber_listId %>"
                  />
                  <input
                    type="hidden"
                    name="redirect"
                    value="https://www.aweber.com/thankyou-coi.htm?m=text"
                    id="redirect_7a11e67b3bbddc5757a3cd0c16b1dbc6"
                  />

                  <input
                    type="hidden"
                    name="meta_adtracking"
                    value="<%= htmlWebpackPlugin.options.aweber_formName %>"
                  />
                  <input type="hidden" name="meta_message" value="1" />
                  <input type="hidden" name="meta_required" value="email" />

                  <input type="hidden" name="meta_tooltip" value="" />
                </div>
                <!-- /AWeber Web Stuff -->
                <label class="sr-only" for="awf_field"> Email address </label>
                <input
                  id="awf_field"
                  name="email"
                  placeholder="Enter your email"
                  tabindex="500"
                  type="email"
                />
                <button type="submit" tabindex="501">
                  <svg
                    width="20"
                    height="21"
                    viewBox="0 0 20 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M4.39999 10.5488H15.6"
                      stroke="#050026"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M10 4.94873L15.6 10.5487L10 16.1487"
                      stroke="#050026"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
                <div style="display: none">
                  <img
                    src="https://forms.aweber.com/form/displays.htm?id=jAzsbCxMbIwcLA=="
                    alt=""
                  />
                </div>
              </form>
              <div class="privacyPolicy" style="text-align: center">
                <small>
                  We respect your
                  <a
                    title="Privacy Policy"
                    href="https://www.aweber.com/permission.htm"
                    target="_blank"
                    rel="nofollow"
                    >email privacy</a
                  >
                </small>
                <div class="af-clear"></div>
              </div>
            </div>
            <div class="s-media">
              <img
                srcset="
                  img/sampler@mobile.png  375w,
                  img/sampler@1x.png      662w,
                  img/sampler@2x.png     1324w
                "
                sizes="(max-width: 767px) 375px, 662px 1324px"
                width="662"
                height="510"
                src="img/sampler@2x.png"
                alt="Best Virtual Sampler Tool for Music Creators"
              />
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- <header>
      <nav class="navbar">
        <div class="container">
          <div class="presented-by">
            Courtesy of
            <a href="index.html"><img src="img/logo.svg" alt="Boomtap" /></a>
          </div>
        </div>
      </nav>
    </header> -->
  </body>
</html>
